.tabs {
  width: auto;
  height: 40px;
  gap: 8px;
  display: flex;
  margin-top: 8px;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
}

.tab {
  width: 171px;
  height: 40px;
  background: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  transition: all 0.3s ease;
}

.tab.active {
  width: 171px;
  height: 40px;
  background: #059669;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
}

