.blocks {
  display: flex;
  gap: 9px;
  margin: 8px auto;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  max-width: 373px;
}

.block {
  width: 110px;
  height: 70px;
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.maininfo {
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0;
}

.dopinfo {
  font-size: 12px;
  color: #3C3C43;
  opacity: 60%;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 2px 0 0 0;
}








