* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  background: rgba(243, 244, 246, 1);
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Типографика */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 0;
  color: #333;
  line-height: 1.3;
}

h1 {
  font-size: 28px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

h4 {
  font-size: 18px;
  font-weight: 600;
}

p {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  font-weight: 400;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

input, textarea, select {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

/* Мелкий текст */
small {
  font-size: 12px;
  line-height: 1.4;
}

/* Средний текст */
.medium-text {
  font-size: 16px;
  line-height: 1.5;
}

/* Крупный текст */
.large-text {
  font-size: 18px;
  line-height: 1.5;
}

.app-container {
  min-height: 100vh;
  padding-bottom: 80px;
}


